[submodule "server/bolapi"]
	path = server/bolapi
	url = git@github.com:devbolcom/bolcom-openapi-php-client.git
[submodule "server/huephp"]
	path = server/huephp
	url = git@github.com:muesli/huephp.git
