html, body {
	height: 100%;
	width: 100%;
	margin:0;
	padding:0;
}

.probeer_ook_eens {

	width: 100%;
	height: 100%;

	.slide-container {
		width: 100%;
		height: 100%;
	
		background-position: center;
		background-size: cover;
		background-repeat:none;
	}

	.title-container {
		padding: 30px 0 30px 40px;
		background: white;
	}

	.recipe-title span {
		font-size: 90px;
		font-weight: bold;
	}

	.prefix-title span {
		font-size: 45px;
	}

	.cooking-time {	
		position: absolute;
		right: 40px;
		top: 30px;
		width: auto;
		height: 100px;
		font-size: 50px;
	}

}

#ah_to_go {

	.slide-container {
		background: white;
		padding: 30px 0 30px 40px;
	}

	.title {
		text-align: center;
	}

	.title span {
		font-size: 90px;
		font-weight: bold;
	}

	img {
		margin: 30px auto;
		display: block;
		width: 25%;
	}

}

.bol_com {
	font-family: 'Clarendon FS Medium',Georgia,serif;
	background: #36c;
	text-align: center;

	height: 100%;
	width: 100%;

	.bol-header {
		font-weight: bold;
		color: white;
		font-size: 70px;
		padding: 60px 0 60px 0;
	}

	.products {
		left: 1%;
		position: relative;
	}

	.product { 
		width: 30%;
		height: auto; 
		float: left;
		margin-left: 2%;

		img {
			display: block;
			height: 600px;
			margin: 0 auto;
		}

		.product-title {
			font-weight: bold;
			font-size: 35px;
			padding: 0 0 25px 5px;
			color: black;
		}

		.product-price {
			font-weight: bold;
			font-size: 30px;

			 -webkit-border-radius: 75px;
			 width: 150px;
			 height: 150px;
			 background: #FF6F00;
			 color: white;

			 line-height:148px;
			text-align:center;

			position: relative;
			top: -75px;
			left: 20px;
		}
	}


}